@model NonJSForm.ViewModels.RecipieViewModel
@using NonJSForm.Constants
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginRouteForm(RouteNames.Recipies, FormMethod.Post))
{
    <div>
        <div>
            @Html.TextBoxFor(model => model.IngredientSearch)
            <button type="submit" class="button" name="AddLocations" value="SearchLocations">Find address</button>
        </div>

        @if (Model.IngredientSearchResults.Any())
        {
            <div>
                    <table>
                        <colgroup>
                            <col style="width: 50%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <tbody>
                        @for (var i = 0; i < Model.IngredientSearchResults.Count; i++)
                        {
                            var ingredient = Model.IngredientSearchResults[i];
                            <tr>
                                <td>
                                    @ingredient
                                </td>
                                <td>
                                    @{
                                        var buttonName = "UseIngredient-" + @i;
                                    }
                                    <button id="useLocation" type="submit" name="AddLocations" value="@buttonName">Use ingredient</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
            </div>
        }

        @if (Model.Ingredients != null && Model.Ingredients.Any())
        {
            <div>
                <div>
                    <table class="no-btm-margin">
                        <colgroup>
                            <col style="width: 50%">
                            <col style="width: 30%">
                            <col style="width: 20%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Ammount</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.Ingredients.Count; i++)
                        {
                            var ingredient = Model.Ingredients[i];
                            <tr>
                                <td>
                                    @ingredient.Name
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Ingredients[i].Ammount, new { @id = "ingredients_" + i + "__ammount", Name = "Ingredients[" + i + "].Ammount" })
                                </td>
                                <td>
                                    @{
                                        var buttonName = "RemoveIngredient-" + i;
                                    }
                                    <button id="removeIngredient" type="submit" name="RemoveIngredient" value="@buttonName">Remove</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }

      <button type="submit" class="button" name="AddIngredients" value="Ingredients">Save and continue</button>
      <button type="submit" class="button" name="ClearIngredients" value="Ingredients">Clear</button>
    </div>
}